/* Вопросы легко найти введя в поиск: ????? (Всё что отмечено по другому - старые вопросы или личные комментарии) */
:root {
  --font-family-primary: "Roboto", sans-serif;
  --font-family-secondary: "Raleway", sans-serif;
  --color-main: #757575;
  --color-white-primary: #ffffff;
  --color-white-secondary: rgba(255, 255, 255, 0.6);
  --color-dark-primary: #212121;
  --color-accent-primary: #2196f3;
  --color-accent-secondary: #000000;
  --color-background-primary: #2f303a;
}
/* body */
body {
  font-family: var(--font-family-primary), sans-serif;
  color: var(--color-main);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/* ????? Нужно ли применять к body ещё какие-то стили? */

/* header */
.logo {
  font-family: var(--font-family-secondary);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-accent-primary);
}
.logo-accent-header {
  color: var(--color-accent-secondary);
}
.list-nav-header-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-dark-primary);
}
.list-nav-header-item-link:hover,
.list-nav-header-item-link:focus,
.list-nav-header-item-link.current {
  color: var(--color-accent-primary);
}
.list-contacts-header-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-main);
}
.list-contacts-header-item-link:hover,
.list-contacts-header-item-link:focus {
  color: var(--color-accent-primary);
}
/* main */
/* hero */
.section-hero {
  background-color: var(--color-background-primary);
}
.title-section-hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /*   text-align: center; */
  color: var(--color-white-primary);
}
.button-section-hero {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--color-accent-primary);
  color: var(--color-white-primary);
  cursor: pointer;
}
/* advantages */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list-section-advantages-item-title {
  font-size: 14px;
  /* !!! Возможно нужно будет вписать font-weight после сброса !!!*/
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-dark-primary);
}
.list-section-advantages-item-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-main);
}
/* activities */
.title-section {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-dark-primary);
}
/* team */
.list-section-team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-dark-primary);
}
.list-section-team-item-description {
  line-height: 1.19;
  /* ????? Нужно ли здесь указывать font-weight? И как понять какой он чейчас, если в стилях он не прописан и не унаследывается, а через девтулзы это свойство не отображается?*/
  font-size: 14px;
  letter-spacing: 0.03em;
}
/* portfolio.html */
/* examples */
.button-section-examples {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--color-dark-primary);
  cursor: pointer;
}
.button-section-examples:hover,
.button-section-examples:focus,
.button-section-examples.current {
  background-color: var(--color-accent-primary);
  color: var(--color-white-primary);
}
.list-section-examples-example-item-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-dark-primary);
}
.list-section-examples-example-item-description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-main);
}
/* footer */
.footer {
  background-color: var(--color-background-primary);
}
.logo-accent-footer {
  color: var(--color-white-primary);
}
.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.link-contacts-footer-address {
  color: var(--color-white-primary);
}
.link-contacts-footer {
  color: var(--color-white-secondary);
}
.link-contacts-footer-address:hover,
.link-contacts-footer-address:focus,
.link-contacts-footer:hover,
.link-contacts-footer:focus {
  color: var(--color-accent-primary);
}
/* Q&A history
Нужно ли использовать сброс:
a{text-decoration:none;} ul{list-style:none;}?
Или во втором ДЗ ссылки и списки могут оставаться со стандартными декоративными элементами? */
